    <nav>
      <div class="nav-wrapper " style=" background-color: rgb(53, 88, 118); ">        
        <a href="/" class="brand-logo"><img src="https://www.mahindraecolecentrale.edu.in/img/footer-logo.png" class="logo" alt=""></a>
        <a href = "/" class = "brand-logo center">Feedback Form</a>                  
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/">Home</a></li>
          <li><a href="/view">View all</a></li>
        </ul>
      </div>
    </nav>

